.mySwiper{
  height: 300px!important;
}
/* .swiper-wrapper{
height: 280px !important;
} */

.swiper-container {
  margin-bottom: 20px;
}
.swiper-pagination{

  height: 40px;
 
}
.swiper-pagination-bullet {

margin-top: 2rem;

background-color: #BCD8E9;
margin: 0 5px;
}
.swiper-pagination-bullet-active {
background-color: #269ce6; 
}